/*  */

.linksblock {
  position: relative;
  height: 4ex;
  text-align: right
}

.linksblock a {
  display: inline-block; 
  background-color: #80808060;
  border-radius: 100%;
  width: 4ex;
  height: 4ex;
  text-align: center;
  text-decoration: none;
}
.transparent{
 visibility: hidden;
}

.bibtexbrowser{
  border: none;
  width: 100%;
  height: 1lh;
}
